<div class="container-dashboard">

  <div class="slidebar">
    <span>Docker</span>
    <div class="add">
      <div class="btn-add" (click)="openColor()">
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="cores" [ngClass]="{'d-opacity': cores, 'd-none': !cores}">
        <div class="cor" style="background-color: #FFC972;" (click)="addCor1()"></div>
        <div class="cor" style="background-color: #FF9B73;" (click)="addCor2()"></div>
        <div class="cor" style="background-color: #AE96FC;" (click)="addCor3()"></div>
        <div class="cor" style="background-color: #01D4FF;" (click)="addCor4()"></div>
        <div class="cor" style="background-color: #E4EE90;" (click)="addCor5()"></div>
        <div class="cor" style="background-color: #5AB0FF;" (click)="addCor6()"></div>
        <div class="cor" style="background-color: #98FC96;" (click)="addCor7()"></div>
      </div>
    </div>
    <div class=" config">
      <i class="fa-solid fa-moon"></i>
      <div class="user">
        <img src="assets/user.png" alt="">
      </div>
    </div>
  </div>

  <main>
    <div class="cabecalho">
      <div class="name">
        <span class="text">Hello, Luan</span>
      </div>

      <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="search" id="search" placeholder="Search">
      </div>
    </div>

    <div class="informs">
      <span class="title">Notes</span>
      <div class="btns">
        <button class="trash" *ngIf="selected.length >= 1">
          <i class="fa-solid fa-trash"></i>
          Trash
        </button>

        <button class="favorites">
          <i class="fa-solid fa-trash"></i>
          Favorites
        </button>
      </div>
    </div>

    <div class="cards" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="drop($event)">
      <div class="card" *ngFor="let item of tarefas, let i = index" cdkDrag [ngStyle]="{'background-color': item.color}"
        [ngClass]="{'selected': selected.includes(item)}">

        <span id="inform">{{item.nome}}</span>
        <div class="inform">
          <span>July 27, 24</span>
          <div class="edit"><i class="fa-solid fa-pencil"></i></div>
        </div>

        <div class="select" (click)="selectItem(item)"
          [ngClass]="{'d-opacity':  selected.includes(item), 'd-none': !selected.includes(item)}">
          <i class="fa-solid fa-check"></i>
        </div>
      </div>
    </div>
  </main>
</div>
